.container{
  height: 100vh; 
  margin: 0 auto;
  max-width: 792px;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
}

.leftContainer{
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  margin-top: 5.5rem;
  gap: 1rem; 
}

.principal{
  display: grid;
  grid-template-columns: 0.5fr 5fr;
  gap: 1rem; 
}

